/* Welcome */
/* Colors Used: (Dark Blue) #2f4f70, (Orange) #ff5400, (Main-off/white) #f5f3f2, (Inset off/white) #eaf1ef */

/* Syntax

selector{
	display:
	height:
	width:
	position:
	margin:
	padding:
	flexProperties:
	textProperties:
	colorProperties:
}

*/

/* Global Declarations */

*{
	font-size:10px;
	text-align:center;
}
body{
	display:flex;
	height:100vh;
	flex-flow:column nowrap;
	justify-content: space-around;
	align-content: space-around;
	align-items:center;
}
p, a, h1, h2, h3, h4, h5, h6 {
	color:#2f4f70;
}
a{
	text-decoration:none;
}
a:hover{
	color:#ff5400;
}
/* //////////////////// */
/* Header */
/* //////////////////// */

header{
	display: flex;
	position:absolute;
	top:2vh;
	min-height:6.5rem;
	height: 15vh;
	width: 100vw;
	flex-flow:row nowrap;
	justify-content: space-around;
	align-self:flex-start;
	align-items:flex-end;
}
.headerAnc{
	display:flex;
	font-size:calc(12px + 1vw);
	margin:0px;
	padding:0px;
}
.aboutHomeDiv{
	display:flex;
	width:33.333%;
	margin-left:10vw;
	justify-content: flex-start;
}
.aboutAnc{
	margin-right:2.5vw;
}
.header>svg{
	display: flex;
	width: 33.333%;
}
.headerRight{
	display:flex;
	width: 33.333%;
	margin-right: 10vw;
	justify-content: flex-end;
}
.contactAnc{
	color:#ff5400;
}
.portfolioAnc{
	margin-left: 2.5vw;
}

/* //////////////////// */
/* Body */
/* //////////////////// */

.contactCont{
	display:flex;
	height: 60vh;
	flex-flow:column nowrap;
}
.contactMeH1{
	width:100%;
	margin-top:calc(5rem + 4vh);
	margin-bottom:calc(0.5rem + 1vw);
	font-size:calc(1.5rem + 1vw);
}
.singleContactCont{
	display:flex;
	height:3rem;
	margin:calc(0.5rem + 1vw);
	justify-content:flex-start;
}
.contactImgAnc{
	display: flex;
}
.contactImgAnc:hover{
	background:#ff5400;
}
.preferred{
	display:flex;
	margin-left:6px;
	align-items:flex-end;
	font-size:calc(1rem + 0.6vw);
	color:black;
}
.contImg{
	width:3rem;
}
.twitImg, .githubImg{
	border-radius: 5%;
}
.addressAnc{
	display:flex;
	margin-left:2vw;
	align-items:flex-end;
}
.connectP{
	font-size:calc(1rem + 1vw)
}
/* //////////////////// */
/* Footer */
/* //////////////////// */

footer{
	display:flex;
	position: absolute;
	width:100vw;
	bottom:2vh;
	justify-content: center;
	align-content:center;
}
.footCont{
	display: flex;
	height:1rem;
	flex-wrap: nowrap;
	align-items: center;
}
.hoverOrange:hover{
	color:#ff5400;
}
.footP{
	display:flex;
	font-size:calc(0.5vw + 0.5rem);
	
}
.footAncImg{
	height:1rem;
	margin: 0px 0.5rem 0px 0px;
}
.footEmailCont{
	display:flex;
	position:fixed;
	left:2vw;
	justify-content: center;
	align-content:center;
}
.footEmailAnc{
	display: flex;
}
.footNameCont{
	display:flex;
	justify-content:center;
	align-content:center;
}
.footLocationCont{
	display:flex;
	position:fixed;
	right:2vw;
	justify-content:flex-end;
	align-content:center;
}

/* //////////////////// */
/* SVG Logo */
/* //////////////////// */

/* #svgLogo{} is also in the header */
#svgLogo path:nth-child(1){
    stroke-dasharray: 552.6px;
    stroke-dashoffset: 552.6px;
    animation: line-anim 4000ms ease-out 1100ms forwards;
}
#svgLogo path:nth-child(2){
    stroke-dasharray: 552px;
    stroke-dashoffset: 552px;
    animation: line-anim 4000ms ease-out 1000ms forwards;
}

/* KeyFrame Animations */

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@media screen and (max-width:450px){
	.connectP{
		font-size:calc(0.6rem + 1vw)
	}
	.preferred{
		font-size:calc(0.8rem + 0.2vw);
	}
	.singleContactCont{
		height:1.5rem;
	}
	.contImg{
		width:1.5rem;
	}
	.footP{
		font-size:calc(0.4vw + 0.4rem);
	}
	.footLocationCont{
		display:none;
	}
	.footEmailCont{
		bottom:2vh;
	}
	.footNameCont{
		position:fixed;
		right:2vw;
		bottom:2vh;
	}
}
@media (min-width: 451px) and (max-width:650px){
	.connectP{
		font-size:calc(0.6rem + 1vw)
	}
	.preferred{
		font-size:calc(0.8rem + 0.2vw);
	}
	.singleContactCont{
		height:2rem;
	}
	.contImg{
		width:2rem;
	}
	.footP{
		font-size:calc(0.5vw + 0.4rem);
	}
	.footLocationCont{
		display:none;
	}
	.footEmailCont{
		bottom:2vh;
	}
	.footNameCont{
		position:fixed;
		right:2vw;
		bottom:2vh;
	}
}

