/* Welcome */
/* Colors Used: (Dark Blue) #2f4f70 RGB(47, 79, 112), (Orange) #ff5400 RGB(255, 84, 0), (Main-off/white) #f5f3f2, (Inset off/white) #eaf1ef */
/* Fonts Used:
			font-family: 'Red Hat Display', sans-serif;
			font-family: 'Tiro Gurmukhi', serif;
			
*/
/* Syntax

selector{
	display:
	height:
	width:
	position:
	margin:
	padding:
	flexProperties:
	textProperties:
	colorProperties:
}

*/

/* Global Declarations */

*{
	font-size:10px;
	text-align:center;
}
body{
	display:flex;
	height:100vh;
	flex-flow:column nowrap;
	justify-content: space-between;
	align-items: center;
	overflow-x: clip;
}
p, a, h1, h2, h3, h4, h5, h6 {
	font-family: 'Red Hat Display', sans-serif;
	color:#2f4f70;
}
a{
	text-decoration:none;
}
a:hover{
	color:#ff5400;
}
.orange{
	color:#ff5400;
}
/* //////////////////// */
/* Header */
/* //////////////////// */

header{
	display: flex;
	height: 7rem;
	width: 100vw;
	margin-top:1.5rem;
	flex-flow:row nowrap;
	justify-content: space-around;
	align-self:flex-start;
	align-items:flex-end;
}
.headerAnc{
	display:flex;
	font-size:calc(1.5rem + 1vw);
	margin:0px;
	padding:0px;
	justify-content: center;
}
.aboutHomeDiv{
	display:flex;
	width:33.333%;
	justify-content: space-around;
}
.aboutAnc{
	color:#ff5400;
}
.header>svg{
	display: flex;
	width: 33.333%;
	/* height:7rem; */
}
.contactAnc{
	width:33.333%;
}

/* //////////////////// */
/* Body */
/* //////////////////// */
.aboutMeHero{
	display:flex;
	width: 70vw;
	margin:1rem;
	flex-flow:column nowrap;
	align-items: center;
}
.hiHero{
	display:flex;
	justify-content: center;
	font-size:4rem;
	margin:5rem 0px 5rem 0px;
}
.aboutText{
	margin:1rem 0px 1rem 0px;
	width:92%;
	padding:0.5rem;
	font-size:1.5rem;
	word-spacing:0.5rem;
	line-height:110%;
	text-align: center;
	text-indent: 3rem;
	color:rgba(47, 79, 112, 1);
}
.transitioningText{
	width: 70vw;
	margin:1rem 0px 1rem 0px;
	font-size:1.5rem;
	text-align: center;
	text-indent: 2rem;
}
.aboutBodyCont{
	display:flex;
	flex-flow:column nowrap;
	align-items: center;
	background-color: whitesmoke;
	border-width: 1px 1px 1px 1px;
	border-color: rgba(47, 79, 112, 0.45);
	box-shadow:4px 13px 30px 1px #2f4f70;
}
.click{
	margin-left:4px;
	color:#ff5400;
	white-space: pre;
}
/* //////////////////// */
/* Footer */
/* //////////////////// */

footer{
	display:flex;
	width:100vw;
	margin:2rem 0px;
	justify-content: space-between;
	align-content:center;
}
.footCont{
	display: flex;
	height:1rem;
	flex-wrap: nowrap;
	align-items: center;
}
.hoverOrange:hover{
	color:#ff5400;
}
.footP{
	display:flex;
	font-size:calc(1rem + 0.5vw);
}
.footAncImg{
	height:1rem;
	margin: 0px 0.5rem 0px 0px;
}
.footEmailCont{
	display:flex;
	margin-left:3rem;
	justify-content: center;
	align-content:center;
}
.footEmailAnc{
	display: flex;
}
.footNameCont{
	display:flex;
	justify-content:center;
	align-content:center;
}
.footLocationCont{
	display:flex;
	margin-right:3rem;
	justify-content:flex-end;
	align-content:center;
}

/* //////////////////// */
/* SVG Logo */
/* //////////////////// */

/* #svgLogo{} is also in the header */
#svgLogo path:nth-child(1){
    stroke-dasharray: 552.6px;
    stroke-dashoffset: 552.6px;
    animation: line-anim 4000ms ease-out 1100ms forwards;
}
#svgLogo path:nth-child(2){
    stroke-dasharray: 552px;
    stroke-dashoffset: 552px;
    animation: line-anim 4000ms ease-out 1000ms forwards;
}
#svgLogo{
	animation-name:svgLogo;
	animation-duration: 4000ms;
	animation-fill-mode: forwards;
}
@keyframes svgLogo {
	0%{
		fill:rgba(47, 79, 112, 0);
	}
	50%{
		fill:rgba(47, 79, 112, 0);
	}
	100%{
		fill:rgba(47, 79, 112, 1);
	}
}

/* KeyFrame Animations */

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@media screen and (max-width:450px){
	header{
		flex-flow:row wrap;
		align-items: center;
	}
	.headerAnc{
		margin:0.5rem 0px;
	}
	.aboutHomeDiv{
		width:66.666%;
	}
	#svgLogo{
		width:100%;
		order:-1;
	}
	.aboutText{
		width:88%;
		text-indent: 25px;
		font-size:1.2rem;
	}
	.transitioningText{
		font-size:1rem;
	}
	footer{
		margin-top:2rem;
		flex-flow:column nowrap;
	}
	.footP{
		font-size:1rem;
	}
	.footLocationCont{
		display:none;
	}
	.footEmailCont{
		width:100%;
		margin:0px 0px 1rem 0px;
	}
	.footNameCont{
		width:100%;
		margin: 1rem 0px;
	}
}
@media (min-width: 451px) and (max-width:650px){
	header{
		flex-flow:row wrap;
		align-items: center;
	}
	.headerAnc{
		margin:0.5rem 0px;
	}
	.aboutHomeDiv{
		width:66.666%;
	}
	#svgLogo{
		width:100%;
		order:-1;
	}
	.aboutText{
		width:88%;
	}
	.transitioningText{
		font-size:1rem;
	}
	footer{
		position:initial;
		flex-flow:column nowrap;
		margin-top:2rem;
	}
	.footP{
		font-size:1rem;
	}
	.footLocationCont{
		display:none;
	}
	.footEmailCont{
		position:static;
		width:100%;
		margin:0px 0px 1rem 0px;
	}
	.footNameCont{
		width:100%;
		margin: 1rem 0px;
	}
}
@media (min-width: 651px) and (max-width: 1050px){
	header{
		flex-flow:row wrap;
		align-items: center;
	}
	.headerAnc{
		margin:0.5rem 0px;
	}
	.aboutHomeDiv{
		width:66.666%;
	}
	#svgLogo{
		width:100%;
		order:-1;
	}
	.aboutText{
		width:90%;
	}
	.transitioningText{
		margin:1rem;
	}
	footer{
		position:initial;
		flex-flow:column nowrap;
	}
	.footP{
		font-size:1.2rem;
	}
	.footEmailCont{
		width:100%;
		margin:1rem;
	}
	.footLocationCont{
		position:static;
		width:100%;
		margin:1rem;
		justify-content:center;
	}
	.footNameCont{
		width:100%;
		margin:1rem;
	}
}
@media (min-width: 1050px) and (max-width: 1200px){
	.footP{
		font-size:calc(1rem + 0.5vw);
	}
}


