/* Welcome */
/* Colors Used: (Dark Blue) #2f4f70 RGB(47, 79, 112), (Orange) #ff5400 RGB(255, 84, 0), (Main-off/white) #f5f3f2, (Inset off/white) #eaf1ef */
/* Fonts Used:
			font-family: 'Red Hat Display', sans-serif;
			font-family: 'Tiro Gurmukhi', serif;
			
*/

/* Syntax

selector{
	display:
	height:
	width:
	position:
	margin:
	padding:
	flexProperties:
	textProperties:
	colorProperties:
}

*/

/* Global Declarations */

*{
	font-size:10px;
	text-align:center;
}
body{
	display:flex;
	height:100vh;
	flex-flow:column nowrap;
	justify-content: space-between;
	align-items: center;
}
p, a, h1, h2, h3, h4, h5, h6 {
	font-family: 'Red Hat Display', sans-serif;
	color:#2f4f70;
}
a{
	text-decoration:none;
}
a:hover{
	color:#ff5400;
}
/* //////////////////// */
/* Header */
/* //////////////////// */

header{
	display: flex;
	height:7rem;
	width: 100vw;
	margin-top:1.5rem;
	flex-flow:row nowrap;
	justify-content: space-around;
	align-self:flex-start;
	align-items:flex-end;
}
.headerAnc{
	display:flex;
	font-size:calc(1.5rem + 1vw);
	margin:0px;
	padding:0px;
	justify-content: center;
}
.aboutHomeDiv{
	display:flex;
	width:33.333%;
	justify-content: space-around;
}
.header>svg{
	display: flex;
	width: 33.333%;
}
.contactAnc{
	width:33.333%;
	color:#ff5400;
}

/* //////////////////// */
/* Body */
/* //////////////////// */

.contactCont{
	display:flex;
	flex-flow:column nowrap;
	background-color: whitesmoke;
	border:1px solid rgba(47, 79, 112, 0.45);
	box-shadow: 4px 13px 30px 1px #2f4f70;
	padding: 3rem 1.5rem;
	margin:5rem 0px;
}
.contactMeH1{
	padding:0.7rem;
	font-size:2.5rem;
	color:whitesmoke;
	border-radius: 50px;
	border:1px solid black;
	align-self: center;
	background: rgb(47,79,112);
	background: radial-gradient(circle, rgba(47,79,112,1) 0%, rgba(16,67,126,1) 100%);
}
.singleContactCont{
	display:flex;
	margin:calc(0.5rem + 1vw);
	justify-content:flex-start;
}
.contactImgAnc{
	display: flex;
}
.contactImgAnc:hover{
	background:#ff5400;
}
.preferred{
	display:flex;
	margin-left:6px;
	align-items:center;
	font-size:1.3rem;
	color:black;
}
.contImg{
	width:3rem;
}
.twitImg, .githubImg{
	border-radius: 5%;
}
.addressAnc{
	display:flex;
	margin-left:2vw;
	align-items:center;
}
.connectP{
	font-size:1.5rem;
}
/* //////////////////// */
/* Footer */
/* //////////////////// */

footer{
	display:flex;
	width:100vw;
	margin:2rem 0px;
	justify-content: center;
	align-content:center;
}
.footCont{
	display: flex;
	height:1rem;
	flex-wrap: nowrap;
	align-items: center;
}
.hoverOrange:hover{
	color:#ff5400;
}
.footP{
	display:flex;
	font-size:calc(1rem + 0.5vw);
}
.footAncImg{
	height:1rem;
	margin: 0px 0.5rem 0px 0px;
}
.footEmailCont{
	display:flex;
	position:fixed;
	left:2vw;
	justify-content: center;
	align-content:center;
}
.footEmailAnc{
	display: flex;
}
.footNameCont{
	display:flex;
	justify-content:center;
	align-content:center;
}
.footLocationCont{
	display:flex;
	position:fixed;
	right:2vw;
	justify-content:flex-end;
	align-content:center;
}

/* //////////////////// */
/* SVG Logo */
/* //////////////////// */

/* #svgLogo{} is also in the header */
#svgLogo path:nth-child(1){
    stroke-dasharray: 552.6px;
    stroke-dashoffset: 552.6px;
    animation: line-anim 4000ms ease-out 1100ms forwards;
}
#svgLogo path:nth-child(2){
    stroke-dasharray: 552px;
    stroke-dashoffset: 552px;
    animation: line-anim 4000ms ease-out 1000ms forwards;
}
#svgLogo{
	animation-name:svgLogo;
	animation-duration: 4000ms;
	animation-fill-mode: forwards;
}
@keyframes svgLogo {
	0%{
		fill:rgba(47, 79, 112, 0);
	}
	50%{
		fill:rgba(47, 79, 112, 0);
	}
	100%{
		fill:rgba(47, 79, 112, 1);
	}
}

/* KeyFrame Animations */

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@media screen and (max-width:450px){
	header{
		flex-flow:row wrap;
		align-items: center;
	}
	.headerAnc{
		margin:0.5rem 0px;
	}
	.aboutHomeDiv{
		width:66.666%;
	}
	#svgLogo{
		width:100%;
		order:-1;
	}
	.contactCont{
		width:60%;
	}
	.contactMeH1{
		font-size:1.5rem;
	}
	.connectP{
		font-size:0.9rem;
		padding:0px;
	}
	.preferred{
		display:none;
	}
	.singleContactCont{
		margin:1rem 0px;
	}
	.contImg{
		width:1.5rem;
	}
	footer{
		position:initial;
		margin-top:2rem;
		flex-flow:column nowrap;
	}
	.footP{
		font-size:1rem;
	}
	.footLocationCont{
		display:none;
	}
	.footEmailCont{
		position:static;
		width:100%;
		margin-bottom:1rem;
	}
	.footNameCont{
		width:100%;
		margin: 1rem 0px;
	}
}
@media (min-width: 451px) and (max-width:650px){
	header{
		flex-flow:row wrap;
		align-items: center;
	}
	.headerAnc{
		margin:0.5rem 0px;
	}
	.aboutHomeDiv{
		width:66.666%;
	}
	#svgLogo{
		width:100%;
		order:-1;
	}
	.singleContactCont{
		margin:1rem 0px;
	}
	.contactMeH1{
		font-size:2rem;
	}
	.connectP{
		font-size:1.4rem;
	}
	.preferred{
		font-size:1.2rem;
	}
	.contImg{
		width:2rem;
	}
	footer{
		position:initial;
		flex-flow:column nowrap;
		margin-top:2rem;
	}
	.footP{
		font-size:1rem;
	}
	.footLocationCont{
		display:none;
	}
	.footEmailCont{
		position:static;
		width:100%;
		margin-bottom:1rem;
	}
	.footNameCont{
		width:100%;
		margin: 1rem 0px;
	}
}

@media (min-width: 651px) and (max-width: 1050px){
	header{
		flex-flow:row wrap;
		align-items: center;
	}
	.headerAnc{
		margin:0.5rem 0px;
	}
	.aboutHomeDiv{
		width:66.666%;
	}
	#svgLogo{
		width:100%;
		order:-1;
	}
	.singleContactCont{
		margin:1rem 0px;
	}
	.contactMeH1{
		font-size:2rem;
	}
	.connectP{
		font-size:1.4rem;
	}
	.preferred{
		font-size:1.2rem;
	}
	footer{
		position:initial;
		flex-flow:column nowrap;
	}
	.footP{
		font-size:1.2rem;
	}
	.footEmailCont{
		position:static;
		width:100%;
		margin:1rem;
	}
	.footLocationCont{
		position:static;
		width:100%;
		margin:1rem;
		right:initial;
		justify-content:center;
	}
	.footNameCont{
		width:100%;
		margin:1rem;
	}
}

@media (min-width: 1050px) and (max-width: 1200px){
	.footP{
		font-size:calc(1rem + 0.5vw);
	}
}
